canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.slide-wrapper {
  // display: none;
}

main {
  position: relative;
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.content--fixed {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: grid;
  align-content: space-between;
  width: 100%;
  max-width: none;
  height: 100vh;
  padding: 1.5em;
  pointer-events: none;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 4em;
  grid-template-areas:
    'header ...'
    '... ...'
    'github demos';
}

.content--fixed a {
  pointer-events: auto;
}
