.header {
  z-index: 12;
  position: fixed;
  width: 100%;
}

.andy {
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  top: 7vw;
  left: calc(26vw - 6px);
  z-index: 1;
}
.all_works {
  top: calc(7vw - 6px);
  right: calc(7vw - 6px);
  font-weight: 400;
  font-size: 13px;
  position: absolute;
  cursor: pointer;
  line-height: 0px;
  padding: 14px 6px 14px 6px;
}
.all_works span {
  padding-right: 30px;
}
.trait1 {
  position: absolute;
  width: 2px;
  height: 10px;
  background: #fff;
  top: 8px;
  right: 11px;
  transform-origin: 0 50%;
  transition-property: background-color;
  transition-duration: 1s;
}

.trait2 {
  position: absolute;
  width: 10px;
  height: 2px;
  background: #fff;
  top: 12px;
  right: 7px;
  transform-origin: 100% 0;
  transition-property: background-color;
  transition-duration: 1s;
}

.point {
  color: #fff;
  transition: 1s;
  transition-property: color;
  &:after {
    content: '';
    width: 3px;
    height: 3px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: calc(100% + 12px);
    left: 7px;
    pointer-events: none;
    opacity: 0;
    transform-origin: 0 100%;
    transform: scaleY(5);
    transition: background, opacity, transform;
    transition-duration: 1s, 0.1s, 0.1s, 0.1s;
  }
  &:hover:after {
    opacity: 1;
    transform: scaleY(1);
  }
}
