.prev_next {
  position: absolute;
  bottom: calc(7vw - 17px);
  //left: -17px;
  line-height: 0;
  font-size: 0;
}
.to_prev {
  opacity: 0.44;
  padding: 17px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
  }
}
.to_next {
  opacity: 0.44;
  padding: 17px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.3s;
  &:hover {
    opacity: 1;
  }
}
