.inner_col {
  color: #fff;
  //font-size: 0;
  display: flex;
}
.col1 {
  padding: calc(40vh - 35px) 0 0 26%;
  display: inline-block;
  vertical-align: top;
  line-height: 0;
  flex: 0 1 44%;
}
.col1 svg {
  display: block;
  --dashActive: 158.333;
}
#cercle_blanc {
  stroke-dashoffset: var(--dashActive);
  stroke-dasharray: 190;
  position: absolute;
  top: calc(40vh - 35px);
  stroke-linecap: round;
}
.col2 {
  position: relative;
  padding: calc(40vh - 70px) 14vw 0 0;
  display: inline-block;
  flex: 0 1 56%;
  height: 100vh;
  vertical-align: top;
}
.category {
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  top: calc(40vh - 96px);
}
.inner_h2 {
  position: absolute;
  margin: 20px 0 0 -3px;
  color: #fff;
  h2 {
    font-weight: 500;
    font-size: 100px;
    line-height: 100px;
    @include bp(medium) {
      font-size: 10vw;
      line-height: 8vw;
    }
  }
}
.num {
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  bottom: 13vw;
  left: 24vw;
}
.slash {
  transform: scaleY(0.8) translateY(-1px);
  display: inline-block;
  margin-right: 2px;
}
.work {
  font-weight: 400;
  font-size: 9px;
  margin-left: 10px;
  transform: translateY(-2px);
  display: inline-block;
}
